* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
html,
body {
  background-color: #efefef;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  background-color: #1876f2;
}
.brand-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 160px;
}
.socail li {
  display: inline-block;
  padding: 0 15px;
}
.socail li img {
  width: 28px;
  padding: 5px 0;
}
